<!DOCTYPE html>
<html>
<head>
    <title>Перформанс Дашборд</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Додайте стилі за потреби -->
</head>
<body>
    <h1>Перформанс Дашборд</h1>

    <!-- Графік часу виконання від кількості потоків -->
    <div>
        <h2>Залежність часу виконання від кількості потоків</h2>
        {{ graph_time|safe }}
    </div>

    <!-- Графік використання CPU -->
    <div>
        <h2>Використання CPU від кількості потоків</h2>
        {{ graph_cpu|safe }}
    </div>

    <!-- Графік використання пам'яті -->
    <div>
        <h2>Використання пам'яті від кількості потоків</h2>
        {{ graph_mem|safe }}
    </div>
</body>
</html>
